---
import Layout from "../layouts/Layout.astro";
import BlogCards from "../components/BlogCards.astro";
import ProfessionInfo from "../components/ProfessionInfo.astro";

---

<Layout>
  <main>
    <div class="pb-12 mt-5">
      <div class="text-xl py-1">Hi guys👋</div>
      <div class="text-5xl font-bold">I'm Mert Altun</div>
      <div class="py-2">
      <ProfessionInfo/>
      </div>
    </div>

    <div>
      <BlogCards />
    </div>
  </main>
</Layout>