---
import BlogCards from "../components/BlogCards.astro";
import Layout from "../layouts/Layout.astro";

// import { Convert_HTML_To_PDF } from '../scripts/pdfExport';
---

<Layout title="Test.">
  <h1>Test Page</h1>

  <!-- <Html2pdf htmlItemId="contentToPrint"/>

    <div id="contentToPrint">
        <p>
            yazıralacak içerik
          </p>
        </div> -->
    
</Layout>