---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Mert Altun
  </div>
  <div class="inline opacity-75">
    <a href="https://mertaltun.com" target="_blank" class="font-bold">Website</a> developed by
    <a href="https://github.com/mrtaltnn/personal-blog" target="_blank" class="font-bold">Mert Altun 🎭</a>
  </div>
</footer>
<style>

</style>
