---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export interface Props {
	title?: string;
	description?: string;
	image?:string;
}


const { image, title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="tr" data-theme="dracula">
	<head>
		<Head title={title} description={description} image={image} />
	</head>
	<body>
		<div class="gg-container-main"></div>
		<div class="bg-base-100 drawer drawer-mobile rounded-r-box">
			<input id="my-drawer" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content flex flex-col bg-base-100">
			  <Header title={SITE_TITLE} />
			  <div class="md:flex md:justify-center">
				<!-- <main class="p-6 pt-10 max-w-[1024px]"> -->
				<main class="p-10 container max-w-6xl">
				  <slot />
				</main>
			  </div>
			  <Footer />
			</div>
			<SideBar />
		  </div>
	</body>
</html>